on:
 push:
   branches:
     - main


jobs:
  build-java-artifact:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello Github Actions"
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Java JDK
        uses: actions/setup-java@v5.2.0
        with: 
         java-version: 17
         distribution: temurin
      - name: Build with Gradle
        uses: gradle/actions@v5.0.0



